.login-button{
  display:flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer
}
.nav-section{
  display:flex;
  justify-content: center;
}
.menuList{
  display: flex;
  list-style-type: none;

}
.menuList li{
  padding :10px
}
.menu-area{
  display: flex;
  justify-content: center;
}
.font-area{
 display:inline-block;
 text-align:row;

}
.search-area{
  display: flex;
  margin: 1rem;
  border-bottom: solid 1px 
}
.search-area input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.img-area:hover img{

  transform: scale(1.2);
  /* 가로, 세로 */
  /* 전체 */
  transition: transform.5s; 
  /* transition 커지는 시간 */

}